/* Basic reset to remove default padding/margins */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.section-title {
  font-size: 50px;
  text-align: center;
}

.reference,
.reference a,
.reference ol {
  text-decoration: none;
  list-style-type: none;
  font-size: 0.8rem;
  text-align: center;
  margin-top: 20px;
  color: gray;
}

/* Navigation Bar Styling */
nav {
  background-color: #436850;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
}

nav ul li {
  width: 100%;
}

nav ul li a {
  width: 100%;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 10px 15px;
  display: inline-block;
  transition: transform 0.3s ease;
}

nav ul li a:hover {
  background-color: #12372a;
  width: 100%;
  transform: scale(1.1);
}

/* Title Container Styling */
.title-container {
  background-color: #12372a;
  background-size: cover; /* Ensure the image covers the entire container */
  background-position: center; /* Center the image */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 10%;

  background: linear-gradient(to bottom, transparent, white),
    url("https://img.freepik.com/premium-vector/silhouette-factory-interior-with-machine-conveyor-belt-flat-design-vector-illustration_493806-13602.jpg");
  /* background-image: url(''); */
  background-position: center; /* Centers the image */
  background-size: cover; /* Makes the image cover the entire div */
}

.title-title {
  font-family: "cubao_font", sans-serif;
  font-size: 750%;
  color: #12372a;
}

.title-subtitle {
  font-family: "quiapo_font", sans-serif;
  font-size: 350%;
  color: #12372a;
}

.title-details {
  font-family: "sunflower_font", sans-serif;
  font-size: 150%;
  color: black;
}

/* Section Styling */
section {
  padding: 20px;
}

h1 {
  font-family: "quiapo_font", "cubao_font", sans-serif;
  color: #12372a;
  font-size: 200%;
}

h2 {
  font-family: "quiapo_font", "cubao_font", sans-serif;
  color: #436850;
}

strong {
  font-family: "sunflower_font", sans-serif;
}

p {
  font-family: "sunflower_font", sans-serif;
  font-size: 135%;
}

li {
  font-family: "sunflower_font", sans-serif;
  font-size: 135%;
}

#home {
  background-color: #f4f4f4;
}

#data-collection {
  background-color: #c4c4c4;
}

@font-face {
  font-family: "cubao_font";
  src: url("font_cubao.ttf");
}

@font-face {
  font-family: "quiapo_font";
  src: url("font_quiapo.ttf");
}

@font-face {
  font-family: "kagitingan_font";
  src: url("font_kagitingan.ttf");
}

@font-face {
  font-family: "baybayin_font";
  src: url("baybayin_font.ttf");
}

@font-face {
  font-family: "sunflower_font";
  src: url("font_sunflower.ttf");
}

/* Back to Top Link Styling */
.back-to-top {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #436850;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.back-to-top:hover {
  background-color: #12372a;
}

/* Section: Background */

#background {
  background-color: white;
}

.background-title {
  font-size: 500%;
  color: #12372a;
}

.background-text {
  text-align: justify;
  padding-top: 2%;
}

.background-big {
  display: flex;
  /* height: 100vh; */
  padding: 50px;
  background-color: #fbfada;
  align-items: center;
}

.background-left {
  width: 60%;
  /* height: 50em; */
  /* background-color: #fbfada; */
  padding: 1rem;
  align-items: center;
}

.background-right {
  /* width: 50%; */
  /* height: 50em; */
  padding: 1rem;
  /* background-color: #fbfada; */
  align-items: center;
}

.background-right img {
  width: 100%;
  height: 100%;
}

.background-quote {
  font-size: 150%;
  font-weight: bold;
  padding-bottom: 2%;
  padding-top: 2%;
}

/* Section: About */

#about {
  background-color: white;
}

.about-title {
  font-size: 500%;
  color: #12372a;
  text-align: center;
}

.about-text {
  text-align: center;
  padding: 25px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.about-questions {
  display: flex;
  height: auto;
}

.about-question-highlight {
  font-weight: bold;
  padding-bottom: 2%;
}

.about-question {
  border-radius: 15px;
  outline: 3px solid #12372a;
  margin-left: 2em;
  margin-right: 2em;
  background-color: #fbfada;
  padding: 5rem;
  text-align: center;
  align-items: center;
  width: 50%;
}

/* Section: Data Collection */

.data-collection-title {
  font-size: 500%;
  color: #12372a;
  text-align: center;
}

.dataset-source-links a {
  width: 80%;
  text-align: center;
  display: block;
  text-decoration: none;
  color: #436850;
  border: 2px solid #436850;
  border-radius: 10px;
  padding: 5px;
  margin: 7px;
  background-color: transparent;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.dataset-source-links a:hover {
  color: #12372a;
  border-color: #12372a;
}

.dataset-source-links a:active {
  background-color: #12372a;
  color: #fbfada;
}

.dataset-source-links svg {
  margin-left: 10px;
}

#data-collection p {
  text-align: justify;
  padding: 10px;
}

.collection-step {
  font-size: 140%;
  font-weight: bold;
  margin-left: 4em;
  margin-right: 4em;

  text-align: center;
  padding: 15px;
}

.collection-step.style1 {
  background-color: #12372a;
  color: #fbfada;
  font-size: 140%;
}

.collection-step.style2 {
  background-color: #436850;
  color: #fbfada;
  font-size: 140%;
}

.collection-step.style1:hover {
  outline: 2px solid #12372a;
}
.collection-step.style2:hover {
  outline: 2px solid #436850;
}

.collection-step.upper {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.step-infos.style1::before {
  border-left: 4px solid #12372a;
}
.step-infos.style2::before {
  border-left: 4px solid #436850;
}

.step-infos {
  display: flex;
  height: auto;
  position: relative;
}

.step-infos::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
}

.step-infos::after {
  top: -10px;
}

.step-info {
  padding: 3rem;
  margin-left: 2.5em;
  margin-right: 2.5em;
  text-align: center;
  align-items: center;
  font-size: 110%;
  width: 50%;
}

.step-info.single {
  /* display: inline-block; */
  /* padding: 3rem; */
  text-align: left;
  margin-left: 5em;
  margin-right: 5em;
  font-size: 110%;
  width: 100%;
}

/* Section: Results */

#results {
  background-color: #fbfada;
}

.results-title {
  font-size: 500%;
  color: #12372a;
  text-align: center;
}

.results-slider-container {
  outline: 3px solid #12372a;
  border-radius: 15px;
  width: 120%;
  background-color: #12372a;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: auto;
  white-space: nowrap;
  height: 100%;
}

.result-slide img {
  width: 100%;
  height: 100%;
}

.results-question {
  text-align: center;
  font-family: "sunflower_font", sans-serif;
  font-size: 150%;
  padding: 1%;
}

.results-hypo-big-container {
  display: flex;
  height: auto;
  align-items: center;
  padding-top: 1%;
}

.results-hypo-conc-container {
  height: auto;
  width: 30%;
  text-align: center;
}

.results-hypo-desc-container-1 {
  width: 75%;
  padding-left: 4%;
  padding-right: 4%;
}

.results-hypo-desc-container-2 {
  width: 50%;
  text-align: justify;
  padding-left: 2%;
  padding-right: 2%;
}

.results-hypo-desc-container-2 img {
  border-radius: 15px;
  outline: 3px solid #12372a;
  width: 90%;
  text-align: center;
}

.results-hypo-desc-container-2 {
  width: 50%;
  text-align: justify;
  padding-left: 2%;
  padding-right: 2%;
}

.results-hypo-desc-container-2 img {
  width: 90%;
  text-align: center;
}

.results-hypo {
  font-family: "cubao_font", sans-serif;
  align-items: center;
  font-size: 250%;
  color: #12372a;
}

.results-hypo-text {
  padding: 10px;
}

.results-hypo-result {
  font-size: 150%;
  font-family: "cubao_font", sans-serif;
  color: #12372a;
  font-family: "cubao_font", sans-serif;
}

.results-p {
  text-align: justify;
  padding-bottom: 1%;
  margin-bottom: 20px;
  margin-top: 20px;
}

#slider {
  background-color: #12372a;
  width: 30em;
}

#year-display {
  position: absolute;
  display: none;
}

.hidden {
  display: none;
}

/* Section: future */

#future {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.future-title {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.future-title1 {
  font-size: 500%;
  color: #12372a !important;
}

.future-title-block {
  margin-left: 1em;
  display: flex;
  flex-direction: column;
}

.future-title-small {
  margin-bottom: -10px;
  color: rgb(125, 0, 0);
}
.future-title-big {
  color: #12372a !important;
  margin-top: -20px;
  font-size: 500%;
}

.future-general-big-container {
  display: flex;
  height: auto;
  align-items: center;
  padding-top: 1%;
}

.decomposed-slider-container,
.prediction-slider-container,
.future-general-container {
  margin: 1em;
  outline: 3px solid #151716;
  border-radius: 15px;
  /* width: 80; */
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: auto;
  white-space: nowrap;
  height: 100%;
}

.future-general-container-info {
  width: 90%;
}

.future-general-container-info .dataset-source-links {
  margin-left: 43px;
  margin-right: 50px;
}

.decomposed-slide img,
.prediction-slide img,
.future-general-container img {
  width: 100%;
  height: 100%;
}

.future-general-title {
  font-size: 150%;
}

.future-p,
.future-general-title {
  text-align: justify;
  padding-bottom: 1%;
  margin-left: 50px;
  margin-right: 50px;
}

.prediction-title {
  font-family: "cubao_font", sans-serif;
  align-items: center;
  font-size: 250%;
  margin-top: 1em;
  color: #12372a;
}

/* Section: conclusion */

#conclusion {
  background-color: #fbfada;
}

#conclusion p {
  text-align: justify;
  margin: 5em;
}

.conclusion-title {
  font-size: 500%;
  color: #12372a;
  text-align: center;
}

.concluding-quote {
  background-color: #adbc9f;
  text-align: center;
  font-family: "sunflower_font", sans-serif;
  font-weight: bold;
  margin: 2em;
  font-size: 200%;
  color: #12372a;
}

/* Back to Top Link Styling */
.check-github {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 15px;
  background-color: black;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.check-github:hover {
  background-color: #555;
}

/* Check out */
#checkout {
  background-color: white;
  padding-bottom: 20px;
}

.check-options {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
}

/* Section: Team */
#team {
  height: 100%;
  background-color: #12372a;
  background-size: cover; /* Ensure the image covers the entire container */
  background-position: center; /* Center the image */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.team-title {
  font-size: 500%;
  color: white;
  text-align: center;
}

.team-container {
  display: flex;
  align-items: center;
}

.team-desc {
  color: white;
  text-align: center;
  padding: 25px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.team-member {
  display: flex;
  flex-direction: column;
  height: 450px;
  box-shadow: 0 10px 10px #436850;
  background-color: white;
  width: 30%;
  text-align: center;
  align-items: center;
  padding: 20px;
  font-family: "sunflower_font", sans-serif;
  border-radius: 15px;
  margin: 15px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.team-member:hover {
  background-color: #fbfada; /* Change background color on hover */
  transform: scale(1.03); /* Scale the element up on hover */
}

.team-pic-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: 15em;
}

.team-pic {
  border-radius: 15px;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.space {
  height: 100px;
  background-color: #fbfada;
}
